# 1. Importando as bibliotecas necess√°rias

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import seaborn as sns

%matplotlib inline

# 2. Importando o DataSet

In [3]:
exportacoes = pd.read_csv('dados/EXP2000_2023.csv', sep=';')
paises_continentes = pd.read_csv('dados/_PAISES_CONTINENTES.csv', sep=';', encoding='ISO-8859-1')
via = pd.read_csv('dados/VIA.csv', sep=';')
uf = pd.read_csv('dados/UF.csv', sep=';', encoding='ISO-8859-1')
dolar = pd.read_csv('dados/_DOLAR_MENSAL.csv', sep=';')
paises = pd.read_csv('dados/PAIS.csv', sep=';', encoding='ISO-8859-1')

# 3. Verificando a estrutura do DataSet

In [7]:
exportacoes[exportacoes.CO_PAIS.isin([42,102,292,343,755,785,786,990,994,995,997,998,999,106,286, 579,855])]

Empty DataFrame
Columns: [CO_ANO, CO_MES, CO_NCM, CO_UNID, CO_PAIS, SG_UF_NCM, CO_VIA, CO_URF, QT_ESTAT, KG_LIQUIDO, VL_FOB, CO_SH]
Index: []

In [50]:
exportacoes.head()

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB,CO_SH
0,2000,10,22041010,17,586,SP,9,910600,698,698,784,2204
1,2000,10,22042100,17,586,SP,9,910600,1578,1632,995,2204
2,2000,11,22042900,17,586,SP,9,910600,46317,46317,23743,2204
3,2000,11,22042900,17,586,SC,7,145300,72680,72680,33699,2204
4,2000,11,22042100,17,586,SC,9,145300,16262,16262,10406,2204

In [53]:
exportacoes['DATA'] = pd.to_datetime(dict(year=exportacoes.CO_ANO, month=exportacoes.CO_MES, day=1))

In [70]:
unique_pais = exportacoes.CO_PAIS.unique()
unique_pais

In [67]:
exportacoes

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB,CO_SH
0,2000,10,22041010,17,586,SP,9,910600,698,698,784,2204
1,2000,10,22042100,17,586,SP,9,910600,1578,1632,995,2204
2,2000,11,22042900,17,586,SP,9,910600,46317,46317,23743,2204
3,2000,11,22042900,17,586,SC,7,145300,72680,72680,33699,2204
4,2000,11,22042100,17,586,SC,9,145300,16262,16262,10406,2204
...,...,...,...,...,...,...,...,...,...,...,...,...
14847,2023,3,22042910,17,580,MA,1,317903,23,23,28,2204
14848,2023,7,22042211,17,351,SC,1,917800,12,12,26,2204
14849,2023,8,22041090,17,351,BA,1,517800,2,2,17,2204
14850,2023,2,22042100,17,741,SC,1,917800,27,27,101,2204
14851,2023,1,22042100,17,161,AL,1,440151,2,1,18,2204