In [4]:
import pygwalker as pyg
import pandas as pd

In [5]:
df = pd.read_csv("https://kanaries-app.s3.ap-northeast-1.amazonaws.com/public-datasets/bike_sharing_dc.csv", parse_dates=['date'])
df

,date,month,season,hour,year,holiday,temperature,feeling_temp,humidity,winspeed,casual,registered,count,work yes or not,am or pm,Day of the week
0,2011-01-01,1,winter,0,2011,no,3.28,3.0014,81.0,0.0000,3,13,16,0,am,6
1,2011-01-01,1,winter,1,2011,no,2.34,1.9982,80.0,0.0000,8,32,40,0,am,6
2,2011-01-01,1,winter,2,2011,no,2.34,1.9982,80.0,0.0000,5,27,32,0,am,6
3,2011-01-01,1,winter,3,2011,no,3.28,3.0014,75.0,0.0000,3,10,13,0,am,6
4,2011-01-01,1,winter,4,2011,no,3.28,3.0014,75.0,0.0000,0,1,1,0,am,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31,12,winter,19,2012,no,4.22,1.0016,60.0,11.0014,11,108,119,1,pm,1
17375,2012-12-31,12,winter,20,2012,no,4.22,1.0016,60.0,11.0014,8,81,89,1,pm,1
17376,2012-12-31,12,winter,21,2012,no,4.22,1.0016,60.0,11.0014,7,83,90,1,pm,1
17377,2012-12-31,12,winter,22,2012,no,4.22,1.9982,56.0,8.9981,13,48,61,1,pm,1
17378,2012-12-31,12,winter,23,2012,no,4.22,1.9982,65.0,8.9981,12,37,49,1,pm,1

In [7]:
pyg.walk(df)

Box(children=(HTML(value='<div id="ifr-pyg-2" style="height: auto">\n    <head>\n        <meta http-equiv="Con…