In [185]:
import pandas as pd

In [186]:
arquivo = "EXP_2000.csv"
df = pd.read_csv(f'dados/{arquivo}', sep=';')
df['CO_SH']=df.CO_NCM//10000

In [187]:
df.head()

   CO_ANO  CO_MES   SH4  CO_PAIS SG_UF_MUN   CO_MUN  KG_LIQUIDO  VL_FOB
0    2000      10  3926      158        SP  3430607          93    1518
1    2000      10  9403      845        RS  4317103       18043   22855
2    2000      10  3820       65        PR  4125506          63     202
3    2000      10  8511      493        SP  3448708        7046  138253
4    2000      10  7013      586        SP  3450308       89981   75711

In [188]:
df.shape

(429925, 8)

In [189]:
df = df.drop(df[df.CO_SH != 2204].index)

In [190]:
df.head()

       CO_ANO  CO_MES   SH4  CO_PAIS SG_UF_MUN   CO_MUN  KG_LIQUIDO  VL_FOB
11407    2000       9  2204      586        MS  5206606       10654    5628
13830    2000      12  2204      158        RS  4314548         600    2700
17346    2000       3  2204      249        SP  3450308         410     720
18271    2000      10  2204       97        MS  5206606        1520     938
21098    2000       6  2204      586        PR  4123808        2994    2793

In [191]:
df.shape

(141, 8)

In [192]:
df.to_csv(f'dados/_{arquivo}', index=False)