In [323]:
import pandas as pd

In [324]:
arquivo = "EXP_2023.csv"
df = pd.read_csv(f'dados/{arquivo}', sep=';')
df['CO_SH']=df.CO_NCM//10000

In [325]:
df.head()

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB,CO_SH
0,2023,3,4029900,10,63,RJ,1,717600,11,11,59,402
1,2023,8,39199020,10,160,SP,4,817600,1,1,51,3919
2,2023,4,90183929,11,40,PR,4,817600,25,4,578,9018
3,2023,7,87089100,11,239,PR,4,817600,1,114,800,8708
4,2023,3,84671900,11,87,SP,4,817600,4,4,593,8467

In [326]:
df.shape

(1042360, 12)

In [327]:
df = df.drop(df[df.CO_SH != 2204].index)

In [328]:
df.head()

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB,CO_SH
515,2023,5,22042100,17,160,RS,1,1017700,23,23,106,2204
2516,2023,6,22042100,17,493,PA,1,217800,3,3,19,2204
2629,2023,4,22043000,17,163,SP,1,817800,2,2,8,2204
2797,2023,6,22042211,17,607,RS,1,1017700,9,9,17,2204
3525,2023,1,22042100,17,301,RJ,1,727600,32,30,206,2204

In [329]:
df.shape

(1396, 12)

In [330]:
df.to_csv(f'dados/_{arquivo}', index=False)