In [6]:
import pandas as pd

In [9]:
df.head()

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB,CO_SH
0,2000,10,22041010,17,586,SP,9,910600,698,698,784,2204
1,2000,10,22042100,17,586,SP,9,910600,1578,1632,995,2204
2,2000,11,22042900,17,586,SP,9,910600,46317,46317,23743,2204
3,2000,11,22042900,17,586,SC,7,145300,72680,72680,33699,2204
4,2000,11,22042100,17,586,SC,9,145300,16262,16262,10406,2204

In [10]:
df.shape

(14695, 12)

In [11]:
df.to_csv('dados/EXP2000_2023.csv', index=False, sep=';')