# 1. Importando as bibliotecas necess√°rias

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import seaborn as sns

%matplotlib inline

# 2. Importando o DataSet

In [2]:
wine_exp_by_month = pd.read_csv('EXP_2007_2023_20230904_MENSAL.csv', sep=';')
wine_exp_by_year = pd.read_csv('EXP_2007_2023_20230904_ANUAL.csv', sep=';')

# 3. Verificando a estrutura do DataSet

In [3]:
wine_exp_by_month.info()
wine_exp_by_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3317 entries, 0 to 3316
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        3317 non-null   int64
 1   Month       3317 non-null   int64
 2   Country     3317 non-null   object
 3   US$ FOB     3317 non-null   int64
 4   Net Weight  3317 non-null   int64
dtypes: int64(4), object(1)
memory usage: 129.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 807 entries, 0 to 806
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        807 non-null    int64
 1   Country     807 non-null    object
 2   US$ FOB     807 non-null    int64
 3   Net Weight  807 non-null    int64
dtypes: int64(3), object(1)
memory usage: 25.3+ KB

In [4]:
wine_exp_by_month.head()

   Year  Month   Country  US$ FOB  Net Weight
0  2023      6  Paraguay   917728      614615
1  2023      5  Paraguay   729345      495937
2  2023      4  Paraguay   685335      428058
3  2023      7  Paraguay   640784      430523
4  2023      3  Paraguay   366292      233708

In [5]:
wine_exp_by_year.head()

   Year        Country  US$ FOB  Net Weight
0  2023       Paraguay  3752857     2494499
1  2023          Haiti   400780      263386
2  2023        Uruguay   394371      308490
3  2023      Venezuela   163280      105750
4  2023  United States   157439       85667

In [6]:
wine_exp_by_month = wine_exp_by_month.set_index(['Country','Year','Month'])

In [7]:
wine_exp_by_year = wine_exp_by_year.set_index(['Country','Year'])

In [8]:
wine_exp_by_month.head()

                     US$ FOB  Net Weight
Country  Year Month
Paraguay 2023 6       917728      614615
              5       729345      495937
              4       685335      428058
              7       640784      430523
              3       366292      233708

In [9]:
wine_exp_by_year.head()

                    US$ FOB  Net Weight
Country       Year
Paraguay      2023  3752857     2494499
Haiti         2023   400780      263386
Uruguay       2023   394371      308490
Venezuela     2023   163280      105750
United States 2023   157439       85667

In [10]:
wine_exp_by_year.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 807 entries, ('Paraguay', 2023) to ('Togo', 2007)
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   US$ FOB     807 non-null    int64
 1   Net Weight  807 non-null    int64
dtypes: int64(2)
memory usage: 20.0+ KB

In [11]:
wine_exp_by_year2 = wine_exp_by_month.groupby(['Country','Year']).agg(sum)

In [12]:
wine_exp_by_year2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 807 entries, ('Afghanistan', 2021) to ('Vietnam', 2022)
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   US$ FOB     807 non-null    int64
 1   Net Weight  807 non-null    int64
dtypes: int64(2)
memory usage: 15.4+ KB

In [13]:
wine_exp_by_year.head()

                    US$ FOB  Net Weight
Country       Year
Paraguay      2023  3752857     2494499
Haiti         2023   400780      263386
Uruguay       2023   394371      308490
Venezuela     2023   163280      105750
United States 2023   157439       85667

In [14]:
wine_exp_by_year2.head()

                  US$ FOB  Net Weight
Country     Year
Afghanistan 2021       46          11
Angola      2007    49753       25931
            2008    71083       25721
            2009    84235       54786
            2010   196947       34094

In [15]:
wine_exp_by_year.equals(wine_exp_by_year2)

False

In [16]:
wine_exp_by_year = wine_exp_by_year.sort_values(by = ['Year', 'US$ FOB'], ascending = [False, False])

In [17]:
wine_exp_by_year2 = wine_exp_by_year2.sort_values(by = ['Year', 'US$ FOB'], ascending = [False, False])

In [18]:
wine_exp_by_year

                    US$ FOB  Net Weight
Country       Year
Paraguay      2023  3752857     2494499
Haiti         2023   400780      263386
Uruguay       2023   394371      308490
Venezuela     2023   163280      105750
United States 2023   157439       85667
...                     ...         ...
Luxembourg    2007     2033         785
Thailand      2007     2020         839
Panama        2007     1030         810
Australia     2007      281          60
Togo          2007       11          11

[807 rows x 2 columns]

In [19]:
wine_exp_by_year2

                    US$ FOB  Net Weight
Country       Year
Paraguay      2023  3752857     2494499
Haiti         2023   400780      263386
Uruguay       2023   394371      308490
Venezuela     2023   163280      105750
United States 2023   157439       85667
...                     ...         ...
Luxembourg    2007     2033         785
Thailand      2007     2020         839
Panama        2007     1030         810
Australia     2007      281          60
Togo          2007       11          11

[807 rows x 2 columns]

In [20]:
wine_exp_by_year.equals(wine_exp_by_year2)

False