Base de dados detalhada por NCM: Arquivos CSV com separador ponto e vírgula (;) detalhado por ano, mês, código NCM, código da unidade estatística, código de país de destino/origem do produto, código da UF de origem/destino do produto, código da via de transporte, código da URF de embarque/desembarque, quantidade estatística, quilograma líquido, valor dólar FOB (US$).

Exportação - Layout: CO_ANO; CO_MES; CO_NCM; CO_UNID; CO_PAIS; SG_UF_NCM; CO_VIA; CO_URF; QT_ESTAT; KG_LIQUIDO; VL_FOB.

In [25]:
# importing libraries
import pandas as pd
import glob
import os

# merging the files
joined_files = os.path.join("dados", "_EXP_*.csv")
joined_files

'dados\\_EXP_*.csv'

In [26]:
# A list of all joined files is returned
joined_list = glob.glob(joined_files)
joined_list

['dados\\_EXP_2000.csv',
 'dados\\_EXP_2001.csv',
 'dados\\_EXP_2002.csv',
 'dados\\_EXP_2003.csv',
 'dados\\_EXP_2004.csv',
 'dados\\_EXP_2005.csv',
 'dados\\_EXP_2006.csv',
 'dados\\_EXP_2007.csv',
 'dados\\_EXP_2008.csv',
 'dados\\_EXP_2009.csv',
 'dados\\_EXP_2010.csv',
 'dados\\_EXP_2011.csv',
 'dados\\_EXP_2012.csv',
 'dados\\_EXP_2013.csv',
 'dados\\_EXP_2014.csv',
 'dados\\_EXP_2015.csv',
 'dados\\_EXP_2016.csv',
 'dados\\_EXP_2017.csv',
 'dados\\_EXP_2018.csv',
 'dados\\_EXP_2019.csv',
 'dados\\_EXP_2020.csv',
 'dados\\_EXP_2021.csv',
 'dados\\_EXP_2022.csv',
 'dados\\_EXP_2023.csv']

In [27]:
# Finally, the files are joined
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)

In [28]:
df.head()

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB,CO_SH
0,2000,10,22041010,17,586,SP,9,910600,698,698,784,2204
1,2000,10,22042100,17,586,SP,9,910600,1578,1632,995,2204
2,2000,11,22042900,17,586,SP,9,910600,46317,46317,23743,2204
3,2000,11,22042900,17,586,SC,7,145300,72680,72680,33699,2204
4,2000,11,22042100,17,586,SC,9,145300,16262,16262,10406,2204

In [29]:
df.shape

(14852, 12)

In [30]:
df.to_csv('dados/EXP2000_2023.csv', index=False, sep=';')