Base de dados detalhada por NCM: Arquivos CSV com separador ponto e vírgula (;) detalhado por ano, mês, código NCM, código da unidade estatística, código de país de destino/origem do produto, código da UF de origem/destino do produto, código da via de transporte, código da URF de embarque/desembarque, quantidade estatística, quilograma líquido, valor dólar FOB (US$).

Exportação - Layout: CO_ANO; CO_MES; CO_NCM; CO_UNID; CO_PAIS; SG_UF_NCM; CO_VIA; CO_URF; QT_ESTAT; KG_LIQUIDO; VL_FOB.

In [1]:
# importing libraries
import pandas as pd
import glob
import os

# merging the files
joined_files = os.path.join("dados", "_EXP_*.csv")
joined_files

'dados\\_EXP_*.csv'

In [2]:
# A list of all joined files is returned
joined_list = glob.glob(joined_files)
joined_list

['dados\\_EXP_2007.csv',
 'dados\\_EXP_2008.csv',
 'dados\\_EXP_2009.csv',
 'dados\\_EXP_2010.csv',
 'dados\\_EXP_2011.csv',
 'dados\\_EXP_2012.csv',
 'dados\\_EXP_2013.csv',
 'dados\\_EXP_2014.csv',
 'dados\\_EXP_2015.csv',
 'dados\\_EXP_2016.csv',
 'dados\\_EXP_2017.csv',
 'dados\\_EXP_2018.csv',
 'dados\\_EXP_2019.csv',
 'dados\\_EXP_2020.csv',
 'dados\\_EXP_2021.csv',
 'dados\\_EXP_2022.csv',
 'dados\\_EXP_2023.csv']

In [3]:
# Finally, the files are joined
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)

In [4]:
df.head()

,CO_ANO,CO_MES,CO_NCM,CO_UNID,CO_PAIS,SG_UF_NCM,CO_VIA,CO_URF,QT_ESTAT,KG_LIQUIDO,VL_FOB,CO_SH
0,2007,4,22042100,17,249,RS,1,1010500,7556,58601,81209,2204
1,2007,5,22042100,17,586,RS,7,910600,153338,153338,71665,2204
2,2007,3,22042900,17,249,RS,1,1010500,3,50,24,2204
3,2007,10,22041010,17,791,RS,1,1017700,90,90,534,2204
4,2007,12,22042900,17,399,SP,1,1017700,44336,44000,42612,2204

In [5]:
df.shape

(13164, 12)

In [6]:
df.to_csv('dados/EXP2007_2023.csv', index=False, sep=';')