In [108]:
import pandas as pd

blocos = pd.read_csv('dados/PAIS_BLOCO.csv', sep=';', encoding="ISO-8859-1")
paises = pd.read_csv('dados/PAIS.csv', sep=';', encoding="ISO-8859-1")

In [109]:
blocos.head()

,CO_PAIS,CO_BLOCO,NO_BLOCO,NO_BLOCO_ING,NO_BLOCO_ESP
0,788,51,África,Africa (minus MIDDLE EAST),África (menos ORIENTE MEDIO)
1,525,51,África,Africa (minus MIDDLE EAST),África (menos ORIENTE MEDIO)
2,229,51,África,Africa (minus MIDDLE EAST),África (menos ORIENTE MEDIO)
3,281,51,África,Africa (minus MIDDLE EAST),África (menos ORIENTE MEDIO)
4,438,51,África,Africa (minus MIDDLE EAST),África (menos ORIENTE MEDIO)

In [110]:
paises.head()

,CO_PAIS,CO_PAIS_ISON3,CO_PAIS_ISOA3,NO_PAIS,NO_PAIS_ING,NO_PAIS_ESP
0,0,898,ZZZ,Não Definido,Not defined,No definido
1,13,4,AFG,Afeganistão,Afghanistan,Afganistan
2,15,248,ALA,"Aland, Ilhas",Aland Islands,"Alans, Islas"
3,17,8,ALB,Albânia,Albania,Albania
4,20,724,ESP,"Alboran-Perejil, Ilhas","Alboran-Perejil, Islands","Alboran-Perejil, Islas"

In [111]:
paises = paises[paises.CO_PAIS.isin([42,102,292,343,755,785,786,990,994,995,997,998,999,106,286,579,855])==False]

In [112]:
blocos = blocos[blocos.CO_PAIS.isin([42,102,292,343,755,785,786,990,994,995,997,998,999,106,286, 579,855])==False]

In [113]:
paises.CO_PAIS.unique()

array([  0,  13,  15,  17,  20,  23,  25,  31,  37,  40,  41,  43,  47,
        53,  59,  63,  64,  65,  69,  72,  73,  77,  80,  81,  83,  85,
        87,  88,  90,  93,  97,  98,  99, 100, 101, 105, 108, 111, 115,
       119, 127, 137, 141, 145, 149, 150, 151, 152, 153, 154, 158, 160,
       161, 163, 165, 169, 173, 177, 183, 187, 190, 193, 195, 196, 198,
       199, 200, 229, 232, 235, 237, 239, 240, 243, 244, 245, 246, 247,
       249, 251, 253, 255, 259, 267, 271, 275, 281, 285, 289, 291, 293,
       297, 301, 305, 309, 313, 317, 321, 325, 329, 331, 334, 337, 341,
       345, 351, 355, 357, 358, 359, 361, 365, 367, 369, 372, 375, 379,
       383, 386, 388, 391, 393, 396, 399, 403, 411, 420, 423, 426, 427,
       431, 434, 438, 440, 442, 445, 447, 449, 450, 452, 455, 458, 461,
       464, 467, 472, 474, 476, 477, 485, 488, 489, 490, 493, 494, 495,
       497, 498, 499, 501, 505, 507, 508, 511, 517, 521, 525, 528, 531,
       535, 538, 542, 545, 548, 551, 556, 563, 566, 569, 573, 575, 576,
       578, 580, 583, 586, 589, 593, 599, 603, 607, 611, 623, 625, 628,
       640, 647, 660, 665, 670, 675, 676, 677, 678, 685, 687, 690, 691,
       693, 695, 697, 698, 699, 700, 705, 710, 715, 720, 728, 731, 735,
       737, 741, 744, 748, 750, 754, 756, 759, 760, 764, 767, 770, 772,
       776, 780, 781, 782, 783, 788, 790, 791, 795, 800, 805, 810, 815,
       820, 823, 824, 827, 828, 831, 833, 840, 845, 847, 848, 850, 858,
       863, 866, 870, 873, 875, 888, 890, 895], dtype=int64)

In [114]:
blocos.CO_PAIS.unique()

array([788, 525, 229, 281, 438, 458, 127, 285, 731, 748, 754, 759, 820,
        31,  40, 115, 173, 240, 253, 434, 488, 710, 735, 485, 685, 760,
       800, 890,  59, 101, 243, 331, 334, 426, 464, 720, 728, 782, 833,
       888, 289, 507, 623, 660, 665, 489, 450, 474, 528, 640, 675, 756,
       780, 783, 177, 193, 329, 505, 145, 866, 200, 863,  77, 137, 317,
       477, 770, 895, 693,  41, 341, 501, 715, 297, 580,  65,  88, 235,
       345, 309, 199,  90, 823, 196, 521, 687, 695,  99, 698, 391, 611,
       699,  43,  47,  83, 647, 678, 700, 705, 815, 493, 149, 249, 337,
        63, 850, 100, 255, 845, 589, 586, 325, 239, 105, 158, 169,  97,
       824,  64, 447, 461, 776,  13, 161, 187, 361, 420, 455, 625, 847,
       291, 576,  73, 365, 750, 772, 267, 141,  81, 795, 741, 517, 423,
       153, 497, 399, 160, 119, 858, 351, 190, 108,  93, 790, 538, 495,
       494,  72, 848, 697, 603, 498, 293, 275,  98,  87, 781, 670, 607,
       573, 388, 163, 840, 827, 467, 452, 386, 379, 367, 259, 111,  85,
       767, 628, 449, 251, 195,  25, 791, 764, 440, 427, 375, 359, 271,
       232, 152, 151, 150,  37,  20,  17, 737, 676, 445, 442, 355, 246,
       393, 831, 305, 301, 247, 245,  23, 321,  15,  69, 531, 805, 411,
       542, 599, 691, 810, 313, 566, 690, 165, 569, 583, 828, 875, 183,
       476, 499, 511, 551, 593, 396, 508, 535, 545, 548, 563, 873, 575,
       490, 472, 870, 677, 383, 369, 556, 372,  80,  53, 578, 358, 244,
       198, 154, 357, 431,   8, 744, 403, 237], dtype=int64)

In [115]:
paises_blocos = paises.merge(blocos, on=['CO_PAIS'])
paises_blocos

,CO_PAIS,CO_PAIS_ISON3,CO_PAIS_ISOA3,NO_PAIS,NO_PAIS_ING,NO_PAIS_ESP,CO_BLOCO,NO_BLOCO,NO_BLOCO_ING,NO_BLOCO_ESP
0,13,4,AFG,Afeganistão,Afghanistan,Afganistan,39,Ásia (Exclusive Oriente Médio),Asia (minus MIDDLE EAST),Asia (menos Oriente Medio)
1,15,248,ALA,"Aland, Ilhas",Aland Islands,"Alans, Islas",112,Europa,Europe,Europa
2,15,248,ALA,"Aland, Ilhas",Aland Islands,"Alans, Islas",22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
3,17,8,ALB,Albânia,Albania,Albania,112,Europa,Europe,Europa
4,20,724,ESP,"Alboran-Perejil, Ilhas","Alboran-Perejil, Islands","Alboran-Perejil, Islas",112,Europa,Europe,Europa
...,...,...,...,...,...,...,...,...,...,...
313,873,840,USA,"Wake, Ilha",Wake Island,Isla Wake,61,Oceania,Oceania,Oceania
314,875,876,WLF,"Wallis e Futuna, Ilhas",Wallis and Futuna,Wallis y Futuna,61,Oceania,Oceania,Oceania
315,888,180,COD,"Congo, República Democrática",Democratic Republic of the Congo,República Democrática del Congo,51,África,Africa (minus MIDDLE EAST),África (menos ORIENTE MEDIO)
316,890,894,ZMB,Zâmbia,Zambia,Zambia,51,África,Africa (minus MIDDLE EAST),África (menos ORIENTE MEDIO)
317,895,592,PCZ,Zona do Canal do Panamá,Panama Canal Zone,Zona del Canal de Panamá,105,América Central e Caribe,Central America and Caribbean,América Central y Caribe

In [116]:
paises_blocos.shape

(318, 10)

In [117]:
cod_continentes = [39, 41, 48, 51, 61, 105, 107, 112]
nom_continentes = ['Ásia (Exclusive Oriente Médio)','Oriente Médio','América do Sul','África','Oceania','América Central e Caribe','América do Norte','Europa']
cod_blocos_economicos = [22,53,111]
nom_blocos_economicos = ['União Europeia - UE', 'Associação de Nações do Sudeste Asiático - ASEAN', 'Mercado Comum do Sul - Mercosul']
paises_continentes = paises_blocos[paises_blocos.CO_BLOCO.isin(cod_continentes)]
paises_blocos_economicos = paises_blocos[paises_blocos.CO_BLOCO.isin(cod_blocos_economicos)]

In [118]:
paises_blocos.shape

(318, 10)

In [119]:
paises_blocos_economicos.shape

(51, 10)

In [121]:
paises_continentes.shape

(267, 10)

In [122]:
paises_continentes.groupby(['CO_BLOCO', 'NO_BLOCO']).count()

,,CO_PAIS,CO_PAIS_ISON3,CO_PAIS_ISOA3,NO_PAIS,NO_PAIS_ING,NO_PAIS_ESP,NO_BLOCO_ING,NO_BLOCO_ESP
CO_BLOCO,NO_BLOCO,,,,,,,,
39,Ásia (Exclusive Oriente Médio),36,36,36,36,36,36,36,36
41,Oriente Médio,16,16,16,16,16,16,16,16
48,América do Sul,14,14,14,14,14,14,14,14
51,África,59,59,59,59,59,59,59,59
61,Oceania,34,34,34,34,34,34,34,34
105,América Central e Caribe,41,41,41,41,41,41,41,41
107,América do Norte,3,3,3,3,3,3,3,3
112,Europa,64,64,64,64,64,64,64,64

In [123]:
paises_blocos_economicos.query("CO_PAIS_ISON3 == 898")

,CO_PAIS,CO_PAIS_ISON3,CO_PAIS_ISOA3,NO_PAIS,NO_PAIS_ING,NO_PAIS_ESP,CO_BLOCO,NO_BLOCO,NO_BLOCO_ING,NO_BLOCO_ESP
39,100,898,BRA,Internação na Zona Franca de Manaus,Internment in the Manaus Free Trade Zone,Internamiento de la Zona Franca de Manaus,111,Mercado Comum do Sul - Mercosul,Southern Common Market (MERCOSUL),Mercado Comum del Sur (MERCOSUR)
121,321,898,GGY,Guernsey,Guernsey,Guernsey,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
152,393,898,ZZZ,Jersey,Jersey,Jersey,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
283,781,898,ATF,Terras Austrais Francesas,French Southern Lands,Tierras Australes Francesas,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)

In [124]:
paises_continentes

,CO_PAIS,CO_PAIS_ISON3,CO_PAIS_ISOA3,NO_PAIS,NO_PAIS_ING,NO_PAIS_ESP,CO_BLOCO,NO_BLOCO,NO_BLOCO_ING,NO_BLOCO_ESP
0,13,4,AFG,Afeganistão,Afghanistan,Afganistan,39,Ásia (Exclusive Oriente Médio),Asia (minus MIDDLE EAST),Asia (menos Oriente Medio)
1,15,248,ALA,"Aland, Ilhas",Aland Islands,"Alans, Islas",112,Europa,Europe,Europa
3,17,8,ALB,Albânia,Albania,Albania,112,Europa,Europe,Europa
4,20,724,ESP,"Alboran-Perejil, Ilhas","Alboran-Perejil, Islands","Alboran-Perejil, Islas",112,Europa,Europe,Europa
5,23,276,DEU,Alemanha,Germany,Alemania,112,Europa,Europe,Europa
...,...,...,...,...,...,...,...,...,...,...
313,873,840,USA,"Wake, Ilha",Wake Island,Isla Wake,61,Oceania,Oceania,Oceania
314,875,876,WLF,"Wallis e Futuna, Ilhas",Wallis and Futuna,Wallis y Futuna,61,Oceania,Oceania,Oceania
315,888,180,COD,"Congo, República Democrática",Democratic Republic of the Congo,República Democrática del Congo,51,África,Africa (minus MIDDLE EAST),África (menos ORIENTE MEDIO)
316,890,894,ZMB,Zâmbia,Zambia,Zambia,51,África,Africa (minus MIDDLE EAST),África (menos ORIENTE MEDIO)
317,895,592,PCZ,Zona do Canal do Panamá,Panama Canal Zone,Zona del Canal de Panamá,105,América Central e Caribe,Central America and Caribbean,América Central y Caribe

In [125]:
paises_blocos_economicos

,CO_PAIS,CO_PAIS_ISON3,CO_PAIS_ISOA3,NO_PAIS,NO_PAIS_ING,NO_PAIS_ESP,CO_BLOCO,NO_BLOCO,NO_BLOCO_ING,NO_BLOCO_ESP
2,15,248,ALA,"Aland, Ilhas",Aland Islands,"Alans, Islas",22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
6,23,276,DEU,Alemanha,Germany,Alemania,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
17,63,32,ARG,Argentina,Argentina,Argentina,111,Mercado Comum do Sul - Mercosul,Southern Common Market (MERCOSUL),Mercado Comum del Sur (MERCOSUR)
22,72,40,AUT,Áustria,Austria,Austria,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
30,87,56,BEL,Bélgica,Belgium,Bélgica,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
34,93,104,MMR,Mianmar,Myanmar,Myanmar,53,Associação de Nações do Sudeste Asiático - ASEAN,Association Of Southeast Asian Nations (ASEAN),Asociación de Países del Sudeste Asiático (ASEAN)
39,100,898,BRA,Internação na Zona Franca de Manaus,Internment in the Manaus Free Trade Zone,Internamiento de la Zona Franca de Manaus,111,Mercado Comum do Sul - Mercosul,Southern Common Market (MERCOSUL),Mercado Comum del Sur (MERCOSUR)
42,105,76,BRA,Brasil,Brazil,Brasil,111,Mercado Comum do Sul - Mercosul,Southern Common Market (MERCOSUL),Mercado Comum del Sur (MERCOSUR)
44,108,96,BRN,Brunei,Brunei,Brunei,53,Associação de Nações do Sudeste Asiático - ASEAN,Association Of Southeast Asian Nations (ASEAN),Asociación de Países del Sudeste Asiático (ASEAN)
46,111,100,BGR,Bulgária,Bulgaria,Bulgaria,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
52,141,116,KHM,Camboja,Cambodia,Camboya,53,Associação de Nações do Sudeste Asiático - ASEAN,Association Of Southeast Asian Nations (ASEAN),Asociación de Países del Sudeste Asiático (ASEAN)
56,150,831,GGY,"Canal, Ilhas do (Guernsey)",Guernsey,Guernsey,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
58,151,724,ESP,"Canárias, Ilhas","Canary, Islands","Canarias, Islas",22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
66,163,196,CYP,Chipre,Cyprus,Chipre,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
76,195,191,HRV,Croácia,Croatia,Croacia,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
83,232,208,DNK,Dinamarca,Denmark,Dinamarca,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
91,245,724,ESP,Espanha,Spain,España,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
93,246,705,SVN,Eslovênia,Slovenia,Eslovenia,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
95,247,703,SVK,Eslováquia,Slovakia,Eslovaquia,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
98,251,233,EST,Estônia,Estonia,Estonia,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
103,267,608,PHL,Filipinas,Philippines,Filipinas,53,Associação de Nações do Sudeste Asiático - ASEAN,Association Of Southeast Asian Nations (ASEAN),Asociación de Países del Sudeste Asiático (ASEAN)
105,271,246,FIN,Finlândia,Finland,Finlandia,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
107,275,250,FRA,França,France,Francia,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
115,301,300,GRC,Grécia,Greece,Grecia,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
121,321,898,GGY,Guernsey,Guernsey,Guernsey,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
131,355,348,HUN,Hungria,Hungary,Hungría,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
135,359,833,IMN,Ilha de Man,Isle of Man,Isla de Man,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
138,365,360,IDN,Indonésia,Indonesia,Indonesia,53,Associação de Nações do Sudeste Asiático - ASEAN,Association Of Southeast Asian Nations (ASEAN),Asociación de Países del Sudeste Asiático (ASEAN)
140,367,826,GBR,Inglaterra,England,Inglaterra,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
144,375,372,IRL,Irlanda,Ireland,Irlanda,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
148,386,380,ITA,Itália,Italy,Italia,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
152,393,898,ZZZ,Jersey,Jersey,Jersey,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
158,420,418,LAO,Laos,Laos,Laos,53,Associação de Nações do Sudeste Asiático - ASEAN,Association Of Southeast Asian Nations (ASEAN),Asociación de Países del Sudeste Asiático (ASEAN)
162,427,428,LVA,Letônia,Latvia,Letonia,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
168,442,440,LTU,Lituânia,Lithuania,Lituania,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
170,445,442,LUX,Luxemburgo,Luxembourg,Luxemburgo,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
175,452,620,PRT,"Madeira, Ilha da",Madeira,Madeira,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
177,455,458,MYS,Malásia,Malaysia,Malasia,53,Associação de Nações do Sudeste Asiático - ASEAN,Association Of Southeast Asian Nations (ASEAN),Asociación de Países del Sudeste Asiático (ASEAN)
182,467,470,MLT,Malta,Malta,Malta,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
218,573,528,NLD,Países Baixos (Holanda),Netherlands,Países Bajos,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
225,586,600,PRY,Paraguai,Paraguay,Paraguay,111,Mercado Comum do Sul - Mercosul,Southern Common Market (MERCOSUL),Mercado Comum del Sur (MERCOSUR)
230,603,616,POL,Polônia,Poland,Polonia,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
232,607,620,PRT,Portugal,Portugal,Portugal,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
242,670,642,ROU,Romênia,Romania,Rumania,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
266,741,702,SGP,Singapura,Singapore,Singapur,53,Associação de Nações do Sudeste Asiático - ASEAN,Association Of Southeast Asian Nations (ASEAN),Asociación de Países del Sudeste Asiático (ASEAN)
275,764,752,SWE,Suécia,Sweden,Suecia,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
280,776,764,THA,Tailândia,Thailand,Tailandia,53,Associação de Nações do Sudeste Asiático - ASEAN,Association Of Southeast Asian Nations (ASEAN),Asociación de Países del Sudeste Asiático (ASEAN)
283,781,898,ATF,Terras Austrais Francesas,French Southern Lands,Tierras Australes Francesas,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
289,791,203,CZE,"Tcheca, República",Czech Republic,República Checa,22,União Europeia - UE,European Union (EU),Uniao Europea (UE)
304,845,858,URY,Uruguai,Uruguay,Uruguay,111,Mercado Comum do Sul - Mercosul,Southern Common Market (MERCOSUL),Mercado Comum del Sur (MERCOSUR)
309,858,704,VNM,Vietnã,Vietnam,Viet Nam,53,Associação de Nações do Sudeste Asiático - ASEAN,Association Of Southeast Asian Nations (ASEAN),Asociación de Países del Sudeste Asiático (ASEAN)

In [126]:
paises_continentes.to_csv('dados/_PAISES_CONTINENTES.csv', index=False, sep=';', encoding="ISO-8859-1")

In [127]:
d = {'CO_BLOCO':cod_continentes, 'NO_BLOCO': nom_continentes }
continentes = pd.DataFrame(data=d).set_index('CO_BLOCO')
continentes

                                NO_BLOCO
CO_BLOCO
39        Ásia (Exclusive Oriente Médio)
41                         Oriente Médio
48                        América do Sul
51                                África
61                               Oceania
105             América Central e Caribe
107                     América do Norte
112                               Europa

In [128]:
continentes.to_csv('dados/_CONTINENTES.csv', index=True, sep=';', encoding="ISO-8859-1")

In [129]:
paises_blocos_economicos.to_csv('dados/_BLOCOS_ECONOMICOS.csv', index=False, sep=';', encoding="ISO-8859-1")

In [130]:
d = {'CO_BLOCO':cod_blocos_economicos, 'NO_BLOCO': nom_blocos_economicos }
blocos = pd.DataFrame(data=d).set_index('CO_BLOCO')
blocos

                                                  NO_BLOCO
CO_BLOCO
22                                     União Europeia - UE
53        Associação de Nações do Sudeste Asiático - ASEAN
111                        Mercado Comum do Sul - Mercosul

In [131]:
blocos.to_csv('dados/_BLOCOS.csv', index=True, sep=';', encoding="ISO-8859-1")