In [28]:
import pandas as pd

serie_dolar = pd.read_csv('dados/DOLAR_MENSAL.csv', sep=';', encoding="ISO-8859-1", decimal=',')

In [29]:
serie_dolar

,YEAR,1,2,3,4,5,6,7,8,9,10,11,12
0,2000,1.7997,1.7764,1.7431,1.7833,1.8382,1.8079,1.8106,1.8056,1.8438,1.8764,1.9441,1.9678
1,2001,1.9475,1.9812,2.0864,2.1573,2.3384,2.4079,2.5538,2.5005,2.6986,2.7790,2.5299,2.3840
2,2002,2.3705,2.4380,2.3542,2.3180,2.5117,2.7181,2.8455,3.1912,3.1506,3.8567,3.6797,3.7342
3,2003,3.2983,3.6580,3.3958,3.1154,2.9306,2.8570,2.8554,2.9930,2.8898,2.8268,2.9418,2.9293
4,2004,2.8126,2.9085,2.9013,2.9064,3.0982,3.1380,3.0215,3.0235,2.9042,2.8623,2.7991,2.7508
5,2005,2.7074,2.5762,2.7621,2.5971,2.4715,2.4455,2.3427,2.3422,2.3012,2.2511,2.1990,2.2957
6,2006,2.2747,2.1375,2.1215,2.1426,2.1774,2.2845,2.2130,2.1480,2.1540,2.1419,2.1537,2.1470
7,2007,2.1407,2.0896,2.0909,2.0231,1.9922,1.9097,1.8684,2.0043,1.9031,1.8078,1.7378,1.7959
8,2008,1.7450,1.7541,1.6947,1.6822,1.6601,1.6368,1.5910,1.6389,1.8125,2.1551,2.2800,2.3690
9,2009,2.3803,2.2680,2.3012,2.1992,2.0762,1.9458,1.9420,1.8385,1.8087,1.7037,1.7290,1.7557
10,2010,1.7711,1.8670,1.7644,1.7483,1.7967,1.7971,1.7690,1.7716,1.7169,1.6604,1.7198,1.6988
11,2011,1.6843,1.6682,1.6692,1.5776,1.6328,1.5960,1.5743,1.5956,1.7106,1.7376,1.7649,1.8609
12,2012,1.7853,1.7158,1.8006,1.8364,1.9941,2.0443,2.0332,2.0338,2.0234,2.0139,2.0382,2.0840
13,2013,2.0374,1.9600,1.9749,1.9790,2.0233,2.1367,2.2548,2.3434,2.2785,2.1818,2.3289,2.3354
14,2014,2.3470,2.3924,2.3638,2.2257,2.2166,2.2347,2.2195,2.2690,2.3401,2.4316,2.6136,2.6717
15,2015,2.6122,2.8392,3.2264,3.0681,2.9884,3.1036,3.1532,3.4761,3.8599,3.8344,3.8023,3.8703
16,2016,3.8711,3.9885,3.7116,3.5276,3.5041,3.4768,3.2656,3.1672,3.3326,3.1864,3.4446,3.3830
17,2017,3.2034,3.0779,3.1629,3.1269,3.1011,3.2836,3.1899,3.1976,3.1255,3.1572,3.2802,3.3176
18,2018,3.1963,3.2208,3.2859,3.4105,3.6753,3.7738,3.8745,3.9134,4.1879,3.7332,3.7924,3.9090
19,2019,3.6513,3.7379,3.8961,3.9447,3.9401,3.8316,3.7643,4.1379,4.1638,4.0035,4.2234,4.0301
20,2020,4.2689,4.4981,5.1981,5.4264,5.4257,5.4754,5.2027,5.4707,5.6401,5.7712,5.3311,5.1961
21,2021,5.4753,5.5296,5.6967,5.4030,5.2316,5.0016,5.1210,5.1427,5.4388,5.6424,5.6193,5.5799
22,2022,5.3568,5.1388,4.7273,4.9185,4.7283,5.2374,5.1878,5.1784,5.4060,5.2564,5.2935,5.2171
23,2023,5.0987,5.2072,5.0798,5.0001,5.0953,4.8186,4.7409,4.9213,5.0070,0.0000,0.0000,0.0000

In [30]:
dolar_mensal = serie_dolar.melt(id_vars=['YEAR'],var_name='MONTH', value_name='USDBRL')

In [31]:
dolar_mensal['MONTH'] = dolar_mensal['MONTH'].apply(pd.to_numeric, errors = 'coerce')

In [32]:
dolar_mensal_ordenado = dolar_mensal.sort_values(by=['YEAR','MONTH'])

In [33]:
dolar_mensal_ordenado['DATA'] = pd.to_datetime(dolar_mensal_ordenado[['YEAR', 'MONTH']].assign(DAY=1))

In [34]:
dolar_mensal_ordenado.set_index('DATA',inplace=True)

In [35]:
dolar_mensal_ordenado

            YEAR  MONTH  USDBRL
DATA
2000-01-01  2000      1  1.7997
2000-02-01  2000      2  1.7764
2000-03-01  2000      3  1.7431
2000-04-01  2000      4  1.7833
2000-05-01  2000      5  1.8382
...          ...    ...     ...
2023-08-01  2023      8  4.9213
2023-09-01  2023      9  5.0070
2023-10-01  2023     10  0.0000
2023-11-01  2023     11  0.0000
2023-12-01  2023     12  0.0000

[288 rows x 3 columns]

In [36]:
dolar_mensal_ordenado.to_csv('dados/_DOLAR_MENSAL.csv', index=True, sep=';', encoding="ISO-8859-1")